body{
	background-color: black;
}
main{
	margin-top: 150px;
	background-color: salmon;
	background-image: url(zuri4.png);
}
.grid{
	display: inline-grid;
	grid-template-columns:40% 60%;
	padding: 30px;
}
.child{
		padding: 5px 20px 5px 20px;
}
.right{
	padding-top: 80px;
	padding-left: 30px;
	padding-right: 20px;
}
.first{
	color: white;
	font-weight: bold;
	font-family: arial;
	font-size: 20px;
	padding-top: 30px;
}
.second{
	color: white;
	font-family: calibri;
}
.third{
	text-align: center;
	background-color: darkblue;
	color: white;
	height: 30px;
	margin-bottom: 10px;
	padding-top: 10px;
	font-family: calibri;
	border-radius: 7px;
}
b{
	font-weight: bold;
}
.form{
	background-color: white;
	padding-right: 20px;
	text-align: center;
	border-radius: 8px;
}
input{
	padding-left: 10px;
}
input, button{
	width: 80%;
	height: 20px;
	padding-left: 10px;
}
button{
	background-color: green;
	text-transform: uppercase;
	color: white;
	border:none;
	height: 30px;
}
a{
	color: red;
	text-decoration: none;
}
.fourth{
	font-size: 10px;
}
